@import url("https://rsms.me/inter/inter.css");

body {
  margin: 0;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER/TOOLBAR & HEADLINE */

a {
  text-decoration: none;
}

button {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  background: #fff;
  font-weight: 500;
  padding: 1em 1.5em;
  color: white;
  border-radius: 3px;
}

button:hover {
  box-shadow: 0 8px 16px rgba(14, 184, 113, 0.938);
}

button:active {
  background: #9acd32;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}

.header-toolbar {
  display: flex;
  position: absolute;
  top: 0%;
  right: 0%;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  color: #3a4a42;
  border: 1px white solid;
  border-radius: 5px;
}

.menu-btn,
.header-toolbar button {
  background-color: white;
}

.header-toolbar button {
  margin: 0.5rem 0.5rem;
  align-self: flex-end;
  cursor: pointer;
}

.header-toolbar img {
  width: 2em;
}

li {
  margin: 0 8px;
}

/* .header-toolbar ul li {
  margin-left: 28px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
} */

.header-toolbar ul li a {
  font-size: 24px;
  font-weight: 600;
  color: #3a4a42;
  cursor: pointer;
}

.menu-btn.hidden {
  display: none;
}

.header-toolbar.hidden {
  display: none;
}

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.toolbar-container-desktop {
  display: none;
}

h1 {
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: 700px;
  font-size: 32px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
}

span {
  color: #3cb371;
}

ul {
  list-style: none;
  padding: 0;
}

.headline-section {
  background: url(./img/header-illsutration-mobile.svg) center/contain no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.headline-section h1:first-child {
  margin-top: 1.5em;
}

.headline-section .two {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  max-width: 500px;
  line-height: 28px;
  margin: 2em 24px;
  text-align: center;
  color: #172b4d;
}

.headline-section .one {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 2em 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.headline-section button {
  background: none;
}

.social-media-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 170px;
}

.portfolio-link:hover,
.about-link:hover,
.contact-link:hover {
  color: #3cb371;
}

@media (min-width: 992px) {
  .toolbar-container {
    display: none;
  }

  .headline-title {
    padding-top: 3em;
  }

  .toolbar-container-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 1em;
    margin: 0;
  }

  .toolbar-container-desktop li {
    list-style: none;
    padding: 0;
    margin: 1em;
    font-size: 14px;
    font-weight: bold;
    color: #42526e;
    cursor: pointer;
  }

  .headline-section {
    background: #fff url(./img/Header-llustration-desktop.svg) no-repeat;
    background-size: 100%;
    padding-bottom: 8em;
  }
}

@media (min-width: 1024px) {
  .headline-section {
    padding-bottom: 15em;
  }
}

/* WORKS SECTION */

.work {
  /* display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px repeat(5, 6fr); */
  width: 100%;
  margin: 0 auto;
  margin-top: 5em;
}

.work h1:first-child {
  text-align: center;
}

.work h1:first-child::after {
  height: 4px;
  width: 48px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px;
  background: #fff;
}

.indicator-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 1em auto;
  width: 327px;
  height: 474px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  transition: box-shadow 0.1s ease-out;
}

.works-card:hover {
  box-shadow: 0 8px 16px rgba(14, 184, 113, 0.938);
}

.works-card:active {
  background: #008552;
}

.works-card-image {
  overflow: hidden;
  box-sizing: border-box;
}

.works-card-image img {
  width: 327px;
  height: 250px;
}

.works-card-skills,
.about-card-skills {
  list-style: none;
  padding: 32px;
  display: flex;
  align-items: center;
}

/* .works-card .works-card-skills li {
  background: #ebf0ee;
  font-weight: 700;
  font-size: 10px;
  padding: 0.5em;
  border-radius: 2px;
  line-height: 16px;
  letter-spacing: 0;
  cursor: pointer;
  color: #3a4a42;
  margin-bottom: 1em;
} */

.works-card .works-card-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  margin-bottom: -1em;
  margin-top: 1em;
}

.project-btn {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: medium;
  background: rgb(2, 54, 2);
  width: 140px;
  margin-bottom: 2em;
  margin-top: -1em;
}

.project-btn:hover {
  box-shadow: 0 8px 16px rgba(14, 184, 113, 0.938);
}

.project-btn:active {
  background: #008552;
}

.works-card-details-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 16px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  overflow-x: hidden;
}

.close-btn-details {
  position: absolute;
  top: 0%;
  right: 5%;
  background: none;
  margin-top: 10px;
}

.works-card-image-details-mobile img {
  width: 550px;
  height: 250px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;
  object-fit: cover;
  margin-left: 0.2em
  margin-top: 2em;
}

.works-card-title-mobile {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 44px;
  color: #172b4d;
  text-align: left;
}

.works-card-skills-mobile {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.works-card-skills-mobile li {
  background: #ebf0ee;
  color: #3a4a42;
  padding: 0.5em 0.75em 0.5em;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 1em;
  letter-spacing: 0.03em;
  border-radius: 0.25em;
}

.header-toolbar ul li {
  margin-left: 28px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.works-card .works-card-skills li {
  background: #ebf0ee;
  font-weight: 700;
  font-size: 10px;
  padding: 0.5em;
  border-radius: 2px;
  line-height: 16px;
  letter-spacing: 0;
  cursor: pointer;
  color: #3a4a42;
  margin-bottom: 1em;
}

.works-card-paragraph-mobile {
  color: #344563;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.works-card-button-mobile {
  display: flex;
  justify-content: space-between;
}

.works-card-btn-details-mobile {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  width: fit-content;
  align-self: center;
  background: var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 1em 1.5em;
  color: white;
  border-radius: 3px;
}

.works-card-btn-details-mobile > img {
  margin-right: -2.5em;
}

@media (min-width: 1150px) {
  .work-container {
    display: grid;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
    grid-template-columns: 30% 30% 30%;
  }

  .indicator-image {
    display: none;
  }

  .work h1:first-child {
    align-self: flex-end;
    padding: 1em;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .work h1:first-child::after {
    content: none;
  }
}

@media (min-width: 1050px) {
  .works-card-skills-mobile li {
    background: #ebf0ee;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 1em;
    letter-spacing: 0.03em;
    color: #344563;
    border-radius: 0.5em;
    margin-top: 0;
  }

  .works-card-details-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 60px;
    grid-template-rows: 60px repeat(5, auto);
  }

  .works-card-image-details-mobile img {
    width: 600px;
    height: 250px;
    border: 1px solid #dfe1e6;
    border-radius: 8px;
    margin-left: 30em;
  }

  .close-btn-details {
    background: #ebecf0;
    position: relative;
    right: 0;
    left: 0;
    grid-column: -2 / -1;
    grid-row: 1/2;
  }

  .works-card-image-details-mobile {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .works-card-title-mobile {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    width: 589px;
    height: 82px;
  }

  .works-card-button-mobile {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }

  .works-card-skills-mobile {
    grid-column: 1 /-1;
    grid-row: 4 / 5;
  }

  .works-card-paragraph-mobile {
    grid-column: 1 / -1;
    margin-bottom: 4em;
  }
}

@media (min-width: 1150px) {
  .work {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px repeat(2, 1fr);
  }

  .work h1:first-child {
    padding: 1em;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
}

/* ABOUT SECTION */

.about-me {
  margin-top: 2em;
  background: url(./img/illustration\ 1-\ about\ me-mobile.svg) no-repeat 100% 0%, url(./img/illustration-\ about\ me-\ mobile.svg) no-repeat 0 2px;
  text-align: center;
  padding: 2em;
  font-size: 24px;
  color: #172b4d;
  font-family: "Inter", sans-serif;
}

.about-me p {
  font-size: 20px;
  color: #172b4d;
  font-family: "Inter", sans-serif;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  max-width: 500px;
}

.about-section-skills {
  list-style: none;
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 327px;
  height: 352px;
  background: #ebf0ee;
  padding: 30px;
  margin-bottom: 2em;
  border-radius: 5px;
  border: 1px solid #d0d9d4;
  transition: box-shadow 0.1s ease-out;
}

.about-me h2 {
  font-size: 25px;
  margin-bottom: 0;
}

.about-card:hover {
  box-shadow: 0 8px 16px rgba(14, 184, 113, 0.938);
}

.about-card:active {
  background: #008552;
}

.about-card-skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}

.about-section-skills .about-card-skills li {
  background-color: white;
  color: #36b37e;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 10px;
  padding-right: 1em;
  height: 10px;
  margin: 0.1em;
  margin-top: 1em;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#title-about {
  font-size: 25px;
  color: #344563;
}

.about-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.resume-btn {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: medium;
  background: rgb(2, 54, 2);
  margin-bottom: 5em;
}

.resume-btn:hover {
  box-shadow: 0 8px 16px rgba(14, 184, 113, 0.938);
}

.resume-btn:active {
  background: #008552;
}

@media (min-width: 1024px) {
  .about-me {
    background: url(./img/illustration-about-me-2-desktop.svg) no-repeat 0% 20%, url(./img/illustration-about\ me-1-desktop.svg) no-repeat 100% 0%;
  }

  .about-me p {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .about-section-skills {
    display: flex;
    flex-direction: row;
    max-width: 90%;
  }
}

/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: url(./img/illustration-contact-form.svg) no-repeat 100% 90%;
}

.contact-form h3 {
  font-weight: 600;
  font-style: normal;
  font-size: 41px;
  text-align: center;
  color: #172b4d;
  margin-top: 0;
}

.submit-btn {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: medium;
  background: rgb(2, 54, 2);
  margin-top: 1em;
}

.footer-container .social-media {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.social-media ul li a {
  text-decoration: none;
  color: #42526e;
  font-size: 20px;
  margin-top: 1.5em;
}

.link-mail {
  color: #42526e;
}

.email {
  color: #42526e;
}

.form-details {
  list-style: none;
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.form-details-name {
  display: block;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-title {
  max-width: 500px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.form-email {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.form-details li small {
  color: #008552;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  list-style: none;
  max-width: 500px;
}

input,
textarea {
  width: 327px;
  padding: 1em;
  margin: 1em 0;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  color: #091e42;
}

input:valid,
textarea:valid {
  border: 1px solid #60c095;
  background: #fff;
}

.form-post ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer::after {
  content: "";
  height: 4px;
  width: 150px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 80px;
  z-index: -1;
  background: #172b4d;
  border-radius: 8px;
}

@media (min-width: 768px) {
  html,
  body {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  footer .email {
    display: none;
  }

  footer::after {
    content: none;
  }

  .footer-container {
    margin-bottom: 0;
    padding-bottom: 0;
    background: url(./img/illustration-1-contact-form-desktop.svg) no-repeat 0% 90%, url(./img/illustration-2-contact-form-desktop.svg) no-repeat 30% 90%, url(./img/contact\ form-illustratoin-3-desktop.svg) no-repeat 100% 90%;
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .form-details-name {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .footer-container .social-media {
    margin-top: 18em;
  }

  .form-details-name,
  .contact-form-email,
  textarea {
    min-width: 327px;
    width: calc(95vw - 684px);
  }

  textarea {
    height: 114px;
  }

  .form-details-name input {
    max-width: 48%;
    min-width: 48%;
    width: inherit;
  }

  .submit-btn {
    margin-right: 34.5em;
  }

  .form-post ul {
    align-items: start;
  }
}
