@import url('https://rsms.me/inter/inter.css');

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

/* HEADER/TOOLBAR & HEADLINE */

a {
  text-decoration: none;
}

button {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  background: #fff;
  font-weight: 500;
  padding: 1em 1.5em;
  color: white;
  border-radius: 3px;
}

button:hover {
  box-shadow: 0 8px 16px rgba(14, 184, 113, 0.938);
}

button:active {
  background: #008552;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}

.header-toolbar {
  display: flex;
  position: absolute;
  top: 0%;
  right: 0%;
  flex-direction: column;
  width: 0%;
  height: 0%;
  background-color: white;
  color: #3a4a42;
  border: 1px lightgrey solid;
  border-radius: 5px;
}

.menu-btn,
.header-toolbar button {
  background-color: white;
}

.header-toolbar button {
  margin: 0.5rem 0.5rem;
  align-self: flex-end;
  cursor: pointer;
}

.header-toolbar img {
  width: 2em;
}

li {
  margin: 0 8px;
}

.header-toolbar ul li {
  margin-left: 28px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.header-toolbar ul li a {
  font-size: 24px;
  font-weight: 600;
  color: #3cb371;
  cursor: pointer;
}

.menu-btn.hidden {
  display: none;
}

.header-toolbar.hidden {
  display: none;
}

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-style: normal;
  font-family: 'Inter', sans-serif;
  font-weight: 700px;
  font-size: 32px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
}

span {
  color: #3cb371;
}

ul {
  list-style: none;
  padding: 0;
}

.headline-section {
  background: #fff url(./img/header-illsutration-mobile.svg) no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.headline-section h1:first-child {
  margin-top: 1.5em;
}

.headline-section .two {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 2em 24px;
  text-align: center;
  color: #172b4d;
}

.headline-section .one {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 2em 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.headline-section button {
  background: none;
}

.social-media-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 170px;
}

/* WORKS SECTION */

.work {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px repeat(5, 6fr);
  width: 90%;
  margin: 0 auto;
  margin-top: 5em;
}

.work h1:first-child {
  text-align: center;
}

.work h1:first-child::after {
  height: 4px;
  width: 48px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 20px;
  background: #fff;
}

.indicator-image {
  margin: 0;
  padding: 0;
}

.works-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 1em auto;
  width: 327px;
  height: 474px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  transition: box-shadow 0.1s ease-out;
}

.works-card:hover {
  box-shadow: 0 8px 16px rgba(14, 184, 113, 0.938);
}

.works-card:active {
  background: #008552;
}

.works-card-image {
  overflow: hidden;
  box-sizing: border-box;
}

.works-card-image img {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.works-card-skills,
.about-card-skills {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.works-card .works-card-skills li {
  background: #ebf0ee;
  font-size: 12px;
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  color: #3a4a42;
}

.works-card .works-card-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  margin-bottom: 0;
}

.project-btn {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: medium;
  background: #3cb371;
  width: 140px;
  margin-bottom: 2em;
  margin-top: 1em;
}

.project-btn:hover {
  box-shadow: 0 8px 16px rgba(14, 184, 113, 0.938);
}

.project-btn:active {
  background: #008552;
}

/* ABOUT SECTION */

.about-me {
  margin-top: 2em;
  background: url(./img/illustration\ 1-\ about\ me-mobile.svg) no-repeat 100% 0%, url(./img/illustration-\ about\ me-\ mobile.svg) no-repeat 0 2px;
  text-align: center;
  padding: 2em;
  font-size: 24px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
}

.about-me p {
  font-size: 20px;
  color: #42526e;
  font-family: 'Inter', sans-serif;
}

.about-section-skills {
  list-style: none;
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 327px;
  height: 352px;
  background: #ebf0ee;
  padding: 30px;
  margin-bottom: 2em;
  border-radius: 5px;
  border: 1px solid #d0d9d4;
  transition: box-shadow 0.1s ease-out;
}

.about-card h2 {
  font-size: 25px;
  margin-bottom: 0;
}

.about-card:hover {
  box-shadow: 0 8px 16px rgba(14, 184, 113, 0.938);
}

.about-card:active {
  background: #008552;
}

.about-card-skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

.about-card-skills li {
  background-color: white;
  color: #36b37e;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 10px;
  height: 20px;
  margin: 0;
  margin-top: 2.5em;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#title-about {
  font-size: 25px;
  color: #344563;
}

.about-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.resume-btn {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: medium;
  background: #3cb371;
}

.resume-btn:hover {
  box-shadow: 0 8px 16px rgba(14, 184, 113, 0.938);
}

.resume-btn:active {
  background: #008552;
}
